@charset "utf-8";

html {
	width: 100%;
	color: #4a4a4a;
	font-size: 62.5%;
	font-family: verdana, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
.font {
	font-family: 'Roboto', sans-serif;
}
.font_just {
	text-align:justify;
}
.font_nowrap {
	white-space: nowrap;
}

body {
	width: 100%;
	font-size: 1em;
	background: url(../images/bg.jpg) left top repeat;
	-webkit-text-size-adjust: none;
}

li {list-style: none;}

img {
	/*width: 100%;*/
	vertical-align: top;
}

a:link    {color: #db4840;text-decoration: underline;}
a:visited {color: #db4840;text-decoration: underline;}
a:hover   {color: #db4840;text-decoration: none;}
a:active  {color: #db4840;text-decoration: underline;}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.f_l {float: left;}
.f_r {float: right;}

.align_c {text-align: center;}
.align_l {text-align: left;}
.align_r {text-align: right;}

.ma5  {margin: 5px;}
.ma10 {margin: 10px;}
.ma15 {margin: 15px;}
.ma20 {margin: 20px;}

.mt5  {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mt50 {margin-top: 50px!important;}
.mt55 {margin-top: 55px!important;}
.mt60 {margin-top: 60px!important;}
.mt70 {margin-top: 70px!important;}
.mt75 {margin-top: 75px;}
.mt80 {margin-top: 80px!important;}
.mt90 {margin-top: 90px!important;}
.mt100 {margin-top: 100px!important;}
.mt105 {margin-top: 105px!important;}
.mt110 {margin-top: 110px!important;}
.mt115 {margin-top: 115px!important;}
.mt135 {margin-top: 135px!important;}
.mt165 {margin-top: 165px!important;}

.ml5  {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml40 {margin-left: 40px;}

.mb5  {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

.mr5  {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}

.pa5  {padding: 5px;}
.pa10 {padding: 10px;}
.pa15 {padding: 15px;}
.pa20 {padding: 20px;}

.pt5  {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}

.pl5  {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl40 {padding-left: 40px;}
.pl45 {padding-left: 45px;}

.pb5  {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb50 {padding-bottom: 50px;}

.pr5  {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr30 {padding-right: 30px;}
.pr50 {padding-right: 50px;}
.pr60 {padding-right: 60px;}
.pr80 {padding-right: 80px;}
.pr100 {padding-right: 100px;}

.f11 {font-size: 11px;font-size: 1.1rem;}
.f12 {font-size: 12px;font-size: 1.2rem;}
.f16 {font-size: 16px;font-size: 1.6rem;}
.f18 {font-size: 18px;font-size: 1.8rem;}
.f20 {font-size: 20px;font-size: 2.0rem;}
.f22 {font-size: 22px;font-size: 2.2rem;}

.bold {font-weight: bold;}

.w540 {width: 540px;}
.w360 {width: 360px;}
.w380 {width: 380px;}

/* wrapper
-----------------------------*/
#wrapper {
	display: none;
	width: 100%;
	min-width: 960px;
	line-height: 1.8;
	color: #000;
	text-align: left;
}
#wrapper .base_w {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/* header
-----------------------------*/
header {
	width: 100%;
	min-width: 960px;
	text-align: center;
}
header .ttl {
	padding-top: 35px;
}

/* contents
-----------------------------*/
#contents {
	width: 100%;
	min-width: 960px;
}
#contents .contents_bg {
	min-width: 960px;
	background: url(../images/main_bg.jpg) center bottom no-repeat;
}
#message #contents .contents_bg {
	padding-bottom: 80px;
}
#about #contents .contents_bg {
	padding-bottom: 90px;
}
#information #contents .contents_bg {
	padding-bottom: 70px;
}
#news #contents .contents_bg {
	padding-bottom: 100px;
}
#blog #contents .contents_bg {
	padding-bottom: 80px;
}
#wallpaper #contents .contents_bg {
	padding-bottom: 120px;
	background: none;
}
#interview #contents .contents_bg {
	padding-bottom: 130px;
}

#contents .line {
	border-top: 1px solid #b9b9b9;
}

/* site_index */
#site_index #contents #mv {
	height: 457px;
	margin-top: 13px;
	background: url(../images/ttl_bg.jpg) center top no-repeat;
	text-align: center;
}
#site_index #contents #mv .main_ttl {
	padding-top: 128px;
}
#site_index #contents #mv .social {
	position: absolute;
	top: 20px;
	right: 0;
}
#site_index #contents #mv .copyright {
	text-align: right;
	margin-top: 76px;
}

#site_index #contents .news {
	margin-top: 20px;
	overflow: hidden;
}
#site_index #contents .news .sti {
	float: left;
	width: 195px;
}
#site_index #contents .news ul {
	float: left;
	width: 630px;
	margin-top: 10px;
	font-size: 14px;
	font-size: 1.4rem;
}
#site_index #contents .news li {
	padding-top: 12px;
}
#site_index #contents .news li a {
	color: #000;
}
#site_index #contents .news .more {
	float: left;
	width: 88px;
	margin-top: 47px;
}

#site_index #contents .interview {
	margin-top: 50px;
	background: url(../images/sti_interview_bg.jpg) center top no-repeat;
}
#site_index #contents .interview .sti {
	padding: 84px 0 0 10px;
}
#site_index #contents .interview .txt {
	position: absolute;
	top:68px;
	left: 350px;
	line-height: 1.4;
	color: #4a4a4a;
	font-size: 14px;
	font-size: 1.4rem;
}
#site_index #contents .interview .txt span {
	font-size: 18px;
	font-size: 1.8rem;
}

#site_index #contents .message {
	margin-top: 50px;
	background: url(../images/sti_message_bg.jpg) center top no-repeat;
}
#site_index #contents .message .sti {
	text-align: right;
}
#site_index #contents .message .art {
	float: left;
}

#site_index #contents .about {
	background: url(../images/sti_about_bg.jpg) center top no-repeat;
}
#site_index #contents .about .sti {
	padding: 84px 0 0 10px;
}
#site_index #contents .about .read {
	margin-top: 56px;
}

#site_index #contents .art {
	overflow: hidden;
}
#site_index #contents .art li {
	float: left;
	line-height: 1.3;
	font-size: 9px;
	font-size: 0.9rem;
	color: #7b7b7b;
}

#site_index #contents .read {
position : relative ;
	width: 455px;
	float: left;
	line-height: 1.7;
	color: #4a4a4a;
}
#site_index #contents .read .block {
    width: 455px;
    overflow: hidden;
}
#site_index #contents .read .block_in {
    float: right;
    width: 1px;
    height: 170px;
}
#site_index #contents .read .more01 {
	float: right;
	margin-top: -5px;
}
#site_index #contents .read .more02 {
    float: right;
    clear: both;
    width: 85px;
    height: 76px;
    padding: 10px 0 0 10px;
}
#site_index #contents .read h3 {
	font-size: 18px;
	font-size: 1.8rem;
}
#site_index #contents .read p {
	font-size: 14px;
	font-size: 1.4rem;
}

#site_index .navi {
	margin-top: 60px;
	background: url(../images/navi_bg.png) center center no-repeat;
	overflow: hidden;
}
#site_index .navi li {
	float: left;
}
#site_index .navi li.navi_download {
	padding: 13px 0 0 114px;
}
#site_index .navi li.navi_information {
	padding-left: 62px;
}
#site_index .navi li.navi_blog {
	padding: 15px 0 0 66px;
}

/* news_list */
#contents .news_list {
	width: 940px;
	min-height: 400px;
	margin: 0 auto;
}
#contents .news_list dt {
	clear: both;
	float: left;
	width: 290px;
	height: 40px;
	color: #272727;
	font-size: 24px;
	font-size: 2.4rem;
}
#contents .news_list .date_bg {
	width: 240px;
	padding: 0 0 0 50px;
	background: url(../images/date_bg.png) left top no-repeat;
}
#contents .news_list dt span {
	padding: 0 3px;
	font-size: 16px;
	font-size: 1.6rem;
}
#contents .news_list dd {
	float: left;
	width: 600px;
	padding: 10px 5px;
	border-bottom: 1px solid #b9b9b9;
	font-size: 14px;
	font-size: 1.4rem;
}
#contents .news_list a {
	color: #000;
}
#contents .news_list a:link    {text-decoration: none;}
#contents .news_list a:visited {text-decoration: none;}
#contents .news_list a:hover   {text-decoration: underline;}
#contents .news_list a:active  {text-decoration: none;}


/* information_list */
#contents .information_list {
	overflow: hidden;
	border-bottom: 1px solid #b9b9b9;
	font-size: 14px;
	font-size: 1.4rem;
}
#contents .information_list dt {
	clear: both;
	float: left;
	width: 240px;
	padding: 8px 0;
	border-top: 1px solid #b9b9b9;
}
#contents .information_list dd {
	float: left;
	width: 700px;
	padding: 8px 0;
	border-top: 1px solid #b9b9b9;
}
#contents .information_list .small {
	font-size: 12px;
	font-size: 1.2rem;
}
#contents .information_list .indent {
	text-indent: -1em;
	margin-left: 1em;
}

/* read_txt */
#contents .read_txt {
	font-size: 14px;
	font-size: 1.4rem;
	overflow: hidden;
}
#contents .read_txt_l {
	float: left;
	width: 460px;
	margin-top: 35px;
}
#contents .read_txt_r {
	float: right;
	width: 460px;
	margin-top: 35px;
}

/* gallery */
#contents .gallery {
	margin-top: 110px;
	overflow: hidden;
}
#contents .gallery li {
	float: left;
	width: 460px;
}
#contents .gallery .li_r {
	padding-left: 30px;
}
#contents .gallery li .img {
	height: 435px;
	text-align: center;
}
#contents .gallery li .img_yoko {
	height: 399px;
	padding-top: 36px;
}
#contents .gallery li .img_tate {
}
#contents .gallery li .txt {
	padding-top: 5px;
	border-top: 1px solid #000;
	font-size: 12px;
	font-size: 1.2rem;
}
#contents .gallery li .txt span {
	display: block;
}

#contents .link_info {
	width: 930px;
	margin: 45px 10px 0 0;
	text-align: right;
	font-size: 16px;
	font-size: 1.6rem;
}
#contents .link_info a {
	display: block;
	height: 45px;
	padding : 10px 52px 0 0;
	color: #4a4a4a;
	background: url(../images/arw.png) right center no-repeat;
}

/* blog */
#contents .blog_l {
	float: left;
	width: 285px;
	font-size: 14px;
	font-size: 1.4rem;
}
#contents .blog_l .side_list li {
	padding: 5px 0 0 28px;
	background: url(../images/archives_bg.png) 5px 11px no-repeat;
}
#contents .blog_l a {
	color: #272727;
}
#contents .blog_r {
	float: left;
	width: 645px;
	font-size: 14px;
	font-size: 1.4rem;
}
#contents .blog_r .date {
	padding: 0 0 0 60px;
	background: url(../images/date_bg.png) left top no-repeat;
	font-size: 24px;
	font-size: 2.4rem;
}
#contents .blog_r .date .date_bg {
	padding: 0 170px 0 0;
	background: url(../images/date_bg_r.png) right bottom no-repeat;
}
#contents .blog_r .date .small {
	padding: 0 5px;
	font-size: 16px;
	font-size: 1.6rem;
}
#contents .blog_r .read {
	margin-bottom: 80px;
	padding: 10px 0 40px 0;
	border-bottom: 1px solid #b9b9b9;
}
#contents .blog_r .cat_name {
	padding-top: 20px;
	text-align: right;
	color: #8f8f8b;
	font-size: 12px;
	font-size: 1.2rem;
}
#contents .blog_r .cat_name a {
	color: #8f8f8b;
}

/* wallpaper_list */
#contents .wallpaper_list {
	overflow: hidden;
}
#contents .wallpaper_list.sp {
	margin: 40px 0 0 10px;
}
#contents .wallpaper_list li {
	float: left;
}
#contents .wallpaper_list.pc li {
	width: 450px;
	padding: 56px 0 16px 30px;
	overflow: hidden;
	background: url(../images/wallpaper_bg_pc.png) 10px 40px no-repeat;
}
#contents .wallpaper_list.sp li {
	width: 185px;
	padding: 20px 0 0 20px;
	background: url(../images/wallpaper_bg_sp.png) left top no-repeat;
}
#contents .wallpaper_list.pc li p {
	float: left;
}
#contents .wallpaper_list.pc .size {
	float: left;
	margin-left: 30px;
}
#contents .wallpaper_list.sp .size {
	margin-top: 37px;
}
#contents .wallpaper_list .size li {
	float: none;
	background: none;
}
#contents .wallpaper_list.pc .size li {
	width: 140px;
	padding: 0;
}
#contents .wallpaper_list.sp .size li {
	padding: 0;
}

/* interview_list */
#contents .interview_list {
	margin: 30px 10px 0;
	font-size: 14px;
	font-size: 1.4rem;
}
#contents .interview_list .line {
	padding: 20px 0;
	border-top: 1px solid #0c2f4a;
	border-bottom: 1px solid #0c2f4a;
}
#contents .interview_list .read {
	margin-top: 80px;
}
#contents .interview_list .deco {
	padding-bottom: 80px;
	background: url(../images/main_bg.jpg) center bottom no-repeat;
}

/* bnr */
#contents .bnr {
	width: 615px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
#contents .bnr li {
	float: left;
	width: 280px;
}
#contents .bnr span {
	display: block;
	color: #909090;
	font-size: 12px;
	font-size: 1.2rem;
}


/* 404 */
.err_404 {
	padding: 100px 0;
	text-align: center;
	font-size: 18px;
	font-size: 1.8rem;
}
.err_404 .url {
	color: #909090;
	font-size: 14px;
	font-size: 1.4rem;
}


/* footer
-----------------------------*/
footer {
	position: relative;
	width: 100%;
	padding-bottom: 30px;
}
footer .footer_btm {
	line-height: 1.5;
	color: #292929;
	font-size: 12px;
	font-size: 1.2rem;
}
footer .copyright {
	font-size: 10px;
	font-size: 1.0rem;
}
footer .logo {
	position: absolute;
	right: 10px;
	bottom: 30px;
}
footer .page_top {
	position: absolute;
	right: 10px;
	top: -64px;
}

/* menu */
.menu {
	width: 960px;
	margin: 20px auto 0;
}
#site_index header .menu {
	margin: -47px auto 0;
}
footer .menu {
	margin: 48px auto 30px;
}
.menu li {
	float: left;
}
.menu li.menu_message {
	width: 152px;
	height: 155px;
	padding: 28px 0 0 0;
}
.menu li.menu_news {
	width: 137px;
	height: 109px;
	padding: 57px 0 0 17px;
}
.menu li.menu_about {
	width: 238px;
	height: 184px;
	padding: 0 0 0 16px;
}
.menu li.menu_blog {
	width: 174px;
	height: 128px;
	padding: 55px 0 0 17px;
}
.menu li.menu_information {
	width: 193px;
	height: 136px;
	padding: 42px 0 0 16px;
}

.nav_page {
	width: 645px;
	text-align: center;
	overflow: hidden;
}
.nav_page li {
	display: inline-block;
	height: 54px;
	padding: 28px 6px 0;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
}
.nav_page li:nth-child(2) {width:41px; height:37px; height:54px; background: url(../images/page_bg1.png) center center no-repeat;}
.nav_page li:nth-child(3) {width:33px; height:35px; height:54px; background: url(../images/page_bg2.png) center center no-repeat;}
.nav_page li:nth-child(4) {width:37px; height:38px; height:54px; background: url(../images/page_bg3.png) center center no-repeat;}
.nav_page li:nth-child(5) {width:41px; height:37px; height:54px; background: url(../images/page_bg4.png) center center no-repeat;}
.nav_page li:nth-child(6) {width:39px; height:36px; height:54px; background: url(../images/page_bg5.png) center center no-repeat;}
.nav_page li:nth-child(7) {width:41px; height:42px; height:54px; background: url(../images/page_bg6.png) center center no-repeat;}
.nav_page li:nth-child(8) {width:35px; height:36px; height:54px; background: url(../images/page_bg7.png) center center no-repeat;}
.nav_page li:nth-child(9) {width:43px; height:37px; height:54px; background: url(../images/page_bg8.png) center center no-repeat;}
.nav_page li:nth-child(10) {width:43px; height:37px; height:54px; background: url(../images/page_bg1.png) center center no-repeat;}
.nav_page li.prev   {width:58px; height:54px; background: url(../images/page_prev.png) center center no-repeat; text-indent: -9999px;}
.nav_page li.active {width:56px; height:54px; background: url(../images/page_active.png) center center no-repeat;}
.nav_page li.next   {width:58px; height:54px; background: url(../images/page_next.png) center center no-repeat; text-indent: -9999px;}

.nav_page li a {
	display: block;
	color: #fff;
	text-decoration: none;
}

